@* @model QuizApp.Models.Questions -dont use it*@


@model IEnumerable<QuizApp.Models.Questions>

@{
    ViewData["Title"] = "CheckAnswer";
   
}



<!DOCTYPE html>
<html>
<head>
    <title>Answer Check Result</title>
</head>
<body>
    <h2>Answer Check Result</h2>

    <p>@ViewBag.Result</p>

    



    <a asp-action="Index">Back to Quiz</a>
    <br />
    

</body>
</html>


